{% extends 'main.html' %}
{% block body %}
<h2>Category</h2>
    <div class='form'>
        <form method='GET' action=''>
            {{ form.hidden_tag() }}

            <table border=1>
            <tr><th>Categories</th></tr>
            {% for c in cat_list %}
                <tr>
                    <td width=200px><a href="/categoryedit/{{ c.id }}">{{ c.description }}</a></td>
                </tr>
            </p>
            {% endfor %}
            </table>
        </form>

        <form method='POST' action=''>
            {{ form.description.label }}
            {{ form.description }}
            {{ form.submit }}
            {{ form.delete }}
        </form>
        <br>
        <b><i>{{ message }}</i></b>
    </div>

{% endblock body %}