<html>
    <header>
        <title>S.T.I.N.E</title>
    </header>
    <body>
        <H1>S.T.I.N.E.</H1>
        <table cellpadding=2 cellspacing=2>
            <tr  style="text-align:center;background-color:#ddd5d5; foreground-color:#FFFFFF' ">
                <td width=100px ><a href="/index">Albums</a></td>
                <td width=100px><a href="/composer">Composer</a></td>
                <td width=100px><a href="/label">Labels</a></td>
                <td width=100px><a href="/category">Category</a></td>
            </tr>
        </table>
        <hr>
        {% block body %}
        {% endblock body %}
    </body>
</html>